<div class="row">
	<div class= "small-12 columns">

		<h1>Sign Up for rodent report</h1>

		<%= simple_form_for @user do |f|%>
		<%= f.input :email %>
		<%= f.input :password %>
		<%= f.input :password_confirmation %>
		<%= f.submit "Sign Up" %>

		<% end %>

	</div>
</div>

